* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0px;
}

.header {
    text-align: center;
    font-size: 50px;
    background-color: rgba(220, 255, 255, 0.767);
    padding: 30px;
    margin-top: 0px;
}

.recipe-list {
    text-align: center;
    margin-top: 50px;
}

.recipe  {
    padding: 40px;
    font-size: 30px;
    display: inline;
    text-align: center;
    margin: 0px auto;
}

.home {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    width: 500px;
    height: auto;
}

.paragraph {
    text-align: center;
    font-size: 24px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    text-decoration: overline;

}

.list {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}

.ingredient {
    display: block;
    list-style: none;
    padding: 3px;
}

.item {
    padding: 3px;
}